Hostname={{ vtc_hostname }}
ManagementIPv4Method=Static
ManagementIPv4Address={{ ipv4_mgmt_ip }}
ManagementIPv4Netmask={{ ipv4_mgmt_mask }}
ManagementIPv4Gateway={{ ipv4_mgmt_gw }}
UnderlayIPv4Method=Static
UnderlayIPv4Address=0.0.0.0
UnderlayIPv4Netmask=0.0.0.0
UnderlayIPv4Gateway=0.0.0.0
DNSv4={{ ipv4_dns }}
Domain={{ fqdn }}
NTPv4={{ ipv4_ntp }}
vts-adminPassword={{ vts_admin_pwd }}
AdministrativeUser={{ admin_user }}
AdministrativePassword={{ admin_user_pwd }}
